body {
    margin: 0px;
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {background-color: #00bcd43d;
}

h1 {
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 3em;
    
}

.container {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}

.blog-container {
    text-align: center, justify;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-right: 40px;
    
}

nav ul {
    list-style: none;
    text-align: right;
    margin-top: 0px;
    margin-right: 10px;
    height: 60px;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 30px;
}

nav a {
    color: black;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercases;
}

nav a:hover {
    color: pink;
}

.smaller-image {
    width: 700px;
}

.smallest-image {
    width: 300px
}

.button {
    text-transform: uppercase;
    font-weight: 500;
}


footer {
    margin-bottom: 10px;
    text-align: center;
}

.technical-blogs {
    text-align: center;
    list-style: none;
}

.core-blogs {
    text-align: center;
    list-style: none;
}

ul {
    list-style: none;
}
